.AddToCart{
    margin: 20px;
}

.CarouselImg{
    width: 650px;
    height: 500px;
}

.itemDetailCard{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.itemDetailBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.1rem;
    padding: 1rem;
    border: none;
}