.DevLogo{
    height: 45px;
}

.NavBarContainer{
    display: flex;
    gap: 40px;
}

.NavBarList{
    display: flex;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
}

